
# PlanAhead Generated physical constraints 

NET "SOURCE" 		LOC = "F5";
NET "VOLUME_UP" 	LOC = "N4";
NET "VOLUME_DOWN" 	LOC = "P3";
NET "clk" 			LOC = "L15";
NET "BIT_CLK" 		LOC = "L13";
NET "SDATA_IN" 		LOC = "T18";
NET "SDATA_OUT" 	LOC = "N16";
NET "SYNC" 			LOC = "U17";
NET "AC97_n_RESET" 	LOC = "T17";
NET "n_reset" 		LOC = "T15";

